[pager]
[core]
	pager = cat
[init]
	defaultBranch = main
[status]
	short = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ls = ls-files
[pull]
	rebase = true
[color]
	diff = always
