[core]
	pager = cat
[init]
	defaultBranch = main
[status]
	short = true
[alias]
	br = branch
  brsc = branch --sort=committerdate
	ci = commit
	co = checkout
	ls = ls-files
	st = status
[color]
	diff = always
[pull]
	rebase = false
[merge]
	tool = vimdiff
